body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
}

hr {
    margin: 20px 0;
}

.header {
    width: 100%;
    max-width: 1024px;
    height: 108px;
    margin: auto;
    margin-top: 24px;
}

.main {
    width: 100%;
    max-width: 1024px;
    height: 773px;
    margin: auto;
}

.footer {
    width: 100%;
    max-width: 1024px;
    height: 180px;
    margin: auto;
    margin-bottom: 24px;
}

.container {
    width: 960px;
    height: 100%;
    margin: auto;
}

.hc {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.hc-item1 {
    width: 122px;
    height: 108px;
}

.hc-item2 {
    width: 279px;
    height: 108px;
    background: #777777;
}

.hc-item3 {
    width: 513px;
    height: 108px;
    background: #777777;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hc .hc-item3 p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin: 0 25px 0 0;
}

.hc .hc-item3 p span {
    text-decoration: underline;
}

.mc {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.m-left {
    width: 184px;
    height: 100%;
    margin: 0;
    position: relative;
}

.ml-1 {
    background: #777777;
    width: 100%;
    height: 335px;
}

.ml-1 ul li {
    list-style: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.ml-1 ul {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 0 10px 10px;

    overflow: hidden;
}

.ml-1 ul li:first-child {
    font-weight: 700;
}

.ml-2 {
    position: absolute;
    bottom: 0;
    width: 184px;
    height: 134px;
}

.ml-2 img {
    width: 100%;
    height: 100%;
}

.m-right {
    width: 757px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mr-desc {
    width: 100%;
    height: 210px;
    background: #dcdcdc;
}

.mr-desc div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 20px;
}

.mr-desc ul li {
    list-style: square;
}

.mr-desc ul li span {
    font-weight: 700;
}

.mr-imgs {
    width: 100%;
    height: 325px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.mr-item {
    width: 100%;
    height: 162.5px;
}

.mr-txt {
    width: 100%;
    height: 200px;
    display: flex;
}

.mr-txt div {
    background: #dcdcdc;
    width: 370px;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}

.mr-txt div p {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
}

.fc {
    display: flex;
    justify-content: space-between;
}

.fc-div1 {
    width: 297px;
    height: 180px;
    background: #777777;
}

.fc-div1 .fc-ul {
    width: 100%;
    height: 100%;
    column-count: 2;
    margin: 0;
    padding: 15px 0 0 15px;
    box-sizing: border-box;
}

.fc-div1 .fc-ul li {
    list-style: none;
    color: #fff;
}

.fc-div2 {
    width: 297px;
    height: 180px;
    background: #777777;
}

.fc-div2 ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px 0 0 45px;
    box-sizing: border-box;
}

.fc-div2 ul li {
    list-style: square;
    color: #fff;
}

.fc-div3 {
    width: 308px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fc-div3 div {
    width: 100%;
    height: 48%;
    background: #777777;
}

.fc-div3 img {
    width: 100%;
    height: 48%;
}
